.estimate_main {
  /* padding: 3rem; */
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #0f52ba;
  /* flex-direction: column; */
  /* align-items: center; */
}
.estimate_main h1 {
  /* color: #c48fd8; */
}
.estimate_form-container {
  width: 60vw;
}
.estimate_content {
  margin: 4rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  /* background-color: #c48fd8; */
  /* border-radius: 20px; */
}
.estimate_content h2 {
  /* text-align: center; */
  margin: 1rem;
  color: white;
}
.estimate_contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.estimate_main input,
.estimate_main select,
.estimate_main label {
  margin: 0.5rem;
  padding: 1rem;
  border: none;
  /* border: solid 1px #0f52ba; */
}
.estimate_main input:focus {
  font-size: 1.3rem;
}
.estimate_city-zip {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
}
.estimate_next-button {
  display: flex;
  justify-content: flex-end;
}
.estimate_next-button svg {
  width: 5vw;
  height: 5vh;
}
.estimate_sofa-carpet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.estimate_appointment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.estimate_main button {
  background-color: white;
  /* color: white; */
  margin: 1rem;
  padding: 1rem;
  border: none;
}
.estimate_main button:hover {
  /* color: white; */
  background-color: white;
}

/* waves */
.custom-shape-divider-top-1654409543 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1654409543 svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 47px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1654409543 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-bottom-1654409664 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654409664 svg {
  position: relative;
  display: block;
  width: calc(101% + 1.3px);
  height: 47px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1654409664 .shape-fill {
  fill: #ffffff;
}
