.header_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header_title-navbar {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin: 1rem;
  padding: 2rem;
}
.header_title-navbar h1 {
  color: black;
}
