.home_main {
  position: relative;
}
/* Front Page */
.home_welcome {
  position: relative;
  margin: 0;
}
.home_welcome img {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.home_owner-info span {
  position: absolute;
  top: 20%;
  padding: 2rem;
  margin: 2rem;
  background-color: white;
  border-radius: 10px;
}
.home_owner-info p {
  padding: 1rem;
  color: black;
  font-size: 1.5rem;
  width: 22rem;
}
.home_guarantee {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  position: absolute;
  top: 90%;
  width: 100%;
  background-color: white;
}
.home_guarantee h2 {
  margin: 1rem;
  font-size: 1.5rem;
  color: #0f52ba;
}

.home_cleaning-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #0f52ba;
  position: relative;
}
.home_title {
  color: white;
  margin: 3rem;
}
.home_cleaning-steps > svg {
  width: 2rem;
  height: 2rem;
}
.home_cleaning-steps span svg {
  color: white;
  width: 10rem;
  height: 5rem;
}
.home_cleaning-steps img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgb(107, 106, 106);
}
.home_cleaning-steps p {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: white;
}
.home_cleaning-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.home_cleaning-steps span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.home_cleaning-steps p {
  padding: 0.5rem;
}
.home_main > h1 {
  text-align: center;
  margin: 2rem 0;
}
.home_services {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
}

.home_services > div {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.home_services > div > span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 30vw;
  margin: 0 2rem;
}
.home_services h3 {
  font-size: 2rem;
  color: #0f52ba;
}
.home_services ul {
  list-style: none;
  font-size: 1.3rem;
  margin: 1rem 0;
}
.home_services img {
  width: 30vw;
  height: 50vh;
}
.home_services h2 {
  width: 100%;
}
.home_title {
  font-style: italic;
}
.home_estimate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.home_estimate-container button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: white;
  border: solid 1px #0f52ba;
  width: 40vw;
}
.home_estimate-container button:hover {
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
}
.home_estimate-container button span {
  color: #ec5800;
  margin: 0 0.5rem;
  font-weight: bold;
  font-size: 1.7rem;
}
.home_estimate-container svg {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

/* Waves */
.custom-shape-divider-top-1653775280 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1653775280 svg {
  position: relative;
  display: block;
  width: calc(117% + 1.3px);
  height: 144px;
}

.custom-shape-divider-top-1653775280 .shape-fill {
  fill: #ffffff;
}
